.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.mobileContainer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.topContainer {
  background: var(--text);
  border-radius: 999px;
  padding: 5px 10px;
  border: 3px solid var(--background);
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 210px;
  align-items: center;
  justify-content: space-between;
}

.countdown {
  flex: 1;
  color: var(--background);
  font-size: 20px;
  width: 100%;
  text-align: center;
}

.buttonContainer {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.buttonContainer span {
  height: 100%;
  aspect-ratio: 1;
  border-radius: 999px;
  border: 3px solid var(--background);
}

.selectedColor {
  background: var(--background);
}

.placePixel {
  position: relative;
  background: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
}

.placePixel:hover {
  cursor: pointer;
}

.placePixel img {
  width: 70%;
  height: 70%;
}

.selectedColor:hover {
  cursor: pointer;
}

.placePixel.disabled {
  opacity: 0.5;
}

.placePixel.disabled:hover {
  cursor: not-allowed;
}

.colorPalette {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background-color: var(--text);
  border-radius: 30px;
  border: 3px solid var(--background);

  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  row-gap: 10px;
  transform: translateX(-150%);
  opacity: 0;
  height: 0;
  transition: all 0.3s ease-in-out;
}

.mobileColorPalette {
  position: relative;
  margin-top: 20px;
  width: 90%;
  background-color: var(--text);
  border-radius: 20px;
  border: 3px solid var(--background);

  transform: translateY(150%);
  opacity: 0;
  height: 0;
  transition: all 0.3s ease-in-out;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.visible {
  transform: translate(0);
  opacity: 1;
  height: 100%;
}

.mobileColorPalette.visible {
  height: fit-content;
  margin: 10px;
}

.gridItem {
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobileColorPalette .gridItem {
  flex-basis: calc(100% / 9);
}

.gridItem span:hover {
  cursor: pointer;
}

.gridItem span {
  width: 70%;
  aspect-ratio: 1;
  border-radius: 999px;
  border: 1px solid #000;
}

.selected {
  border: 3px solid var(--background) !important;
}
