:root {
  --primary: #293b70;
  --secondary: #d6dcf0;
  --background: #fbfcfe;
  --text: #0e1425;
  --accent: #4360b6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #293b70;
    --secondary: #131b37;
    --background: #0e1425;
    --text: #fbfcfe;
    --accent: #5a67ef;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
