.loginButton {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 12%;
  font-size: 3vw;
}

@media (min-width: 500px) {
  .loginButton {
    font-size: 1.5vw;
  }
}

@media (min-width: 1000px) {
  .loginButton {
    font-size: 0.8vw;
  }
}
