.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--text);
}

.topTitle {
  color: var(--text);
  font-size: 50px;
  text-shadow: -3px -3px 0 var(--background), 3px -3px 0 var(--background),
    -3px 3px 0 var(--background), 3px 3px 0 var(--background);
}

.mobileTopTitle {
  font-size: 30px;
}

.leftContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: auto;
  top: 20px;
  left: 20px;
  align-items: flex-end;
}
